body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.name {
}

.name-wrapper {
}

.App {
  width: 800px;
  margin: 0 auto;
}

p {
  line-height: 1.55;
  font-size: 1.15rem;
  font-family: 'Libre Franklin', sans-serif;
  color: #526173;
  -webkit-font-smoothing: antialiased;
}
.name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4rem;
  font-weight: normal;

  margin: 0;
  line-height: 1;
  color: #3a3a3a;
  margin: 60px 0;
  text-align: center;
}
